.badge{
    clip-path: circle(50% at 50% 50%);
    background-color: aqua;
    width: 50px;
    height: 50px;
    position: absolute;
    top: -5px;
    right: -5px;
}

.box{
    width: 300px;
    height: 300px;
    background-color: blanchedalmond;
    position: relative;
}