html, body{
    overflow-x: hidden;
}

*{
    margin: 0px;
    border: 0px;
}

.para_h{
    font-size: 50px;
    margin-left: 50px;
    margin-bottom: 30px;
}

.box{
    width: 350px;
    height: 300px;
    background-color: antiquewhite;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.parentBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 50px;  
}

.para_SubHeading{
    font-size: 30px;
    width: 70%;
}

.BoxHead{
    background-color: rgb(239, 144, 19);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.relative{
    position: relative;
}

.absolute{
    clip-path: polygon(0 1%, 100% 0, 100% 100%, 50% 75%, 0 100%);
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: brown;
    top: 0px;
    left: 280px;
}

.badge{
    text-align: center;
    font-weight: bold;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.badge1{
    text-align: center;
    color: white;
    margin-top: -5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.BoxMatter{
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.MatterDiv{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    text-align: justify;
}

.border{
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.Italic{
    font-style: italic;
    font-size: 20px;
    margin-bottom: 7px;
}

.BoxLast{
    margin-left: 20px;
}

.main{
    position: relative;
    
}

.sub{
    position: absolute;
    top: -40px;
    display: none;
    background-color: black;
    color: white;
    right: 0px;
}

.main:hover .sub{
    display: block;
    transform: scale(1.01);
    transition: 1.2s;
    opacity: 0.9;
    transition-duration: 1.2s;
}