*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.headerDiv{
    width: 20%;
    font-size: 30px;
    margin-top:20px;
    text-decoration: none;
    color: black;
}

a{
    text-decoration: none;
    color: black;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

.courses{
    font-size: 20px;
    border: 1px solid black;
    padding: 2px;
    border-radius: 300px;
    margin: 5px;
    padding: 7px;
    background-color: antiquewhite;
}

.frontendSpacing{
    display: flex; 
    margin-top: -20px; 
    margin-left: 25px;
}

.courses1{
    font-size: 20px;
    border: 1px solid black; 
    padding: 2px;
    border-radius: 300px;
    margin: 5px;
    padding: 7px;
    background-color: antiquewhite;

}

.Certification{
    font-size: 25px;
    margin-left: 30px;
    padding: 5px;
}

.borderColor{
    background-color: wheat;
}

.border{
    border: 1px solid black;
    margin-right: 20px;
    border-radius: 300px;
    padding: 7px;
    background-color: wheat;
}

.colorChange:hover{
    color: white;
    background-color: black;
     transform: scale(1.1);
     transition-duration: 1.2s;
}

.colorChange{
    width: 350px; 
    height: 175px;
     background-color: gray; 
     border-radius: 10px;
}

.pf30{
    font-size: 30px; 
    margin: 20px; 
    margin-top: 30px;
}

.pf20{
    font-size: 20px;
    margin: 20px;
    margin-top: -10px;
}

.frontbox{
    width: 575px;
    height: 185px; 
    background-color: gray; 
    border-radius: 10px;
}

.backendbox{
    width: 575px; 
    height: 150px; 
    background-color: gray; 
    border-radius: 10px;
}
