.hi p{
    margin: 0px;
    padding: 0px;
}

.shadow {
  box-shadow:
    2px 2px 5px rgba(0,0,0,0.3),   /* outer shadow */
    -2px -2px 5px rgba(255,255,255,0.5); /* highlight effect */
}

a{
  text-decoration: none;
}

.button:hover{
  color: orange;
  background-color: rgb(216, 20, 20);
} 