*{
    margin: 0px;
    border: 0px;
}

html,body{
    overflow-x: hidden;
}


header{
    background-color: rgb(2, 76, 2);
    height: 60px;
    display: flex;
    align-items: center;
}

.deliver{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.HeaderLogo{
    margin-left: 20px;
}

.LocationLogo{
    position: relative;
}

.LocationMatter{
    position: absolute;
    left: 210px;
    top: 0px;
    color: white;
}

.a1{
    color: rgb(3, 138, 192);
    text-decoration: none;
}

.All{
    margin-left: 75px;
    display: flex; 
}

.All:hover{
    box-shadow: 2px 2px 5px;
}

.All1{
    width: 50px;
    height: 40px;
    background-color: rgb(213, 211, 211);
}

.All2{
    width: 850px;
}

.All3{
    height: 40px;
    background-color: purple;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.HeadSub{
    height: 50px;
    background-color:  rgb(3, 105, 3);
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 17.5px;
    color: white;
}

.card{
    height: 460px;
    width: 390px;
    background-color: white;
}

.Parent{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.Para_H{
    font-size: 25px;
    font-weight: bold;
    margin: 20px 30px; 
}

.SubCard{
    display: flex;
    justify-content: space-evenly;
    
}

.SubCardMatter{
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.HeaderLast{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Account{
    position: relative;
    color: white;
}

.Account1{
    color: white;
    font-size: 17.5px;
    font-weight: bold;
}

.Select{
    position: absolute;
    top: 33px;
    right: 225px;
    background-color: rgb(2, 75, 2);
    color: white;
}

.Orders{
    color: white;
    font-size: 17.5px;
    font-weight: bold;
}

.Cart{
    font-size: 20px;
    color: white;
}



