.banner{
    background-image: url("https://tse4.mm.bing.net/th?id=OIF.5o9r5rhBu%2bTqBsQQAf1PVg&pid=Api&P=0&h=180");
    background-attachment: fixed;
    background-size: contain;
    color: transparent;
    background-clip: text;
}