.Para{
    font-size: 40px;
    text-align: center;
}

.Heart{
    font-size: 150px;
    text-align: center;
    margin-top: 50px;
    opacity: 0.7;
    position: relative;
    animation: heartbeat 1s infinite;
}

.Heart1{
    font-size: 90px;
    text-align: center;
    margin-top: 50px;
    position: absolute;
    top: -10px;
    left: 780px;
    animation: heartbeat1 1.5s infinite;
}




@keyframes heartbeat{
    to{
        transform: scale(1.2);
    }
}

@keyframes heartbeat1{
    to{
        transform: scale(1.1);
    }
}

