.Card{
    width: 500px;
    height: 300px;
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Button{
    width: 100px;
    height: 50px;
}

.CardParent{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
}