html, body{
  overflow-x: hidden;
}

*{
    margin: 0px;
    border: 0px;
}

.para_h{
    font-size: 50px;
    margin-left: 50px;
    margin-bottom: 30px;
}

.box{
    width: 350px;
    height: 300px;
    background-color: antiquewhite;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.parentBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 5px;  
    gap: 50px;  
}

.para_SubHeading{
    font-size: 30px;
    width: 70%;
}

.BoxHead{
    background-color: rgb(239, 144, 19);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.navigation{
  color: black;
  text-decoration: none; 
  font-size: 20px;
  transition: 0.5s;
  padding: 5px;
}

.navigation:hover{
    transform: rotate(360deg) scale(1.3);
    color: black;
    background-color: rgb(252, 216, 168);
    border-radius: 10px;
}

.contact1{
  position: fixed;
  right: 0px;
  padding: 12.5px;
  font-size: 20px;
  background-color: orangered;
  rotate: -90deg;
  border-radius: 10px;
  color: white;
}

.contact1:hover{
  background-color: skyblue;
}

.contact2{
  font-size: 50px;
  padding: 7.5px;
  display: inline-block;
  transform: rotate(-90deg);
  background-color: orangered;
  color: white;
  position: fixed;
  bottom: 70px;
  right: 25px;
  font-weight: 900;
  z-index: 102;
  border-radius: 10px;
}

html{
  scroll-behavior: smooth;
}

.contact2:hover{
  background-color: skyblue;
}

.fix{
  width: 1690px;
  height: 75px;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  bottom: 0px;
  z-index: 101;
}

.FootFix{
  color: white; 
  font-size: 25px;
}

.FootFix:hover{
  color: orangered;
}

.relative{
    position: relative;
    z-index: 1;
}

.absolute{
    clip-path: polygon(0 1%, 100% 0, 100% 100%, 50% 75%, 0 100%);
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: brown;
    top: 0px;
    left: 280px;
}

.badge{
    text-align: center;
    font-weight: bold;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.badge1{
    text-align: center;
    color: white;
    margin-top: -5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.BoxMatter{
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.MatterDiv{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    text-align: justify;
}

.border{
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.Italic{
    font-style: italic;
    font-size: 20px;
    margin-bottom: 7px;
}

.BoxLast{
    margin-left: 20px;
}

.main{
    position: relative;
    
}

.sub{
     position: absolute;
    opacity: 0;
    transform: translateY(0px);
    background-color: black;
    color: white;
    right: 0px;
    transition: ease;
    top: 50px;
    overflow-y: scroll;
    z-index: 3;
}

.main:hover .sub{
    transition: 1.1s;
    opacity: 0.88;
    transform: translateY(-90px) scale(1.06);

}

.hi p{
    margin: 0px;
    padding: 0px;
}

.shadow {
  box-shadow:
    2px 2px 5px rgba(0,0,0,0.3),   /* outer shadow */
    -2px -2px 5px rgba(255,255,255,0.5); /* highlight effect */
}

a{
  text-decoration: none;
}

.button:hover{
  color: white;
  background-color: orange;
} 

.FontSize{
  font-size: 40px;
  
}

.But{
  font-size: 20px;
  padding: 15px;
  margin-top: 20px;
  margin-left: 130px;
}
.But:hover{
  
  color: white;
  background-color: orange;
}

.FontSize1{
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
  margin-left: 150px;
  margin-right: 200px;
  
}

.FontSize2{
  font-size: 20px;
  margin-bottom: 15px;
  margin-left:200px;
  font-weight: bold;
}

.FontSize3{
  font-size: 20px;
  margin-bottom: 15px;
  margin-left: 200px;
  margin-right: 200px;
}

.FontSize4{
  font-size: 20px;
  margin-bottom: 15px;
  margin-left: 250px;
  margin-right: 200px;
}

.re{
  position: relative;
}

.ab{
  position: absolute;
  top: 30px;
}

.ab1{
  position: absolute;
  top: 30px;
  left: 370px;
}

.but:hover{ 
  color: white;
  background-color: orange;
}

.header{
  position: fixed;
  width: 100%;
  z-index: 100;
}

.Enroll{
  background: linear-gradient(to right, skyblue,rgb(33, 148, 235));
}

.banner{
  background-image: url(https://cdn.dribbble.com/userupload/42042397/file/original-96182a50e6c5937c55c1e03db669cdb3.gif);
}

.b1{
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 20px;
    border: 1px solid gray;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 30px;
}

.b1:hover{
    background-color: orangered;
}