.foot{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

footer{
    display: flex; 
    background-color: black; 
    color: rgb(141, 143, 143); 
    justify-content: space-evenly; 
    height: auto; 
    margin-bottom: 75px;
}

.coloumn{
    width: 20%; 
    margin-top: 20px;
    margin-left: 30px;
}





@media (max-width:1024px) and (min-width:768px){
    .coloumn{
        flex: 1 1 30%;
    }
}