.posi{
    display: flex; 
    justify-content: space-evenly;
    position: relative;
    top: -100px;
}

.border1{
    border: 1px solid black;
    padding: 10px;
    padding-top: 35px;
    box-shadow: 
    2px 2px 5px rgba(0, 0, 0, 0.3),
    -2px -2px 5px rgba(255, 255, 255, 0.5);
    position: relative;  
}

.anime:hover{
    transform: scale(1.1);
    transition: 1s;
    color: black;
    background-color: rgb(219, 23, 23);
}

.badge{
    display: flex; 
    justify-content: space-evenly;
}

.absolute{
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 50% 75%, 0 100%);
    width: 50px;
    height: 50px;
    background-color: aqua;
    text-align: center;
    position: absolute;
    left: 280px;
    top: -0.5px;
}
